In [24]:
import pandas as pd
import numpy as np
df=pd.read_excel(r"E:\College\SEMESTER 4\MACHINE LEARNING\Lab Session1 Data.xlsx",  sheet_name="Purchase data", usecols = 'B:E')
df

   Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0           20             6                 2           386
1           16             3                 6           289
2           27             6                 2           393
3           19             1                 2           110
4           24             4                 2           280
5           22             1                 5           167
6           15             4                 2           271
7           18             4                 2           274
8           21             1                 4           148
9           16             2                 4           198

In [25]:
A = df[['Candies (#)', 'Mangoes (Kg)','Milk Packets (#)']]
C = df['Payment (Rs)']
print(A)
print(C)

   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4
0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

In [36]:
dimension=df.shape[1]
print("dimention of the given dataset:",dimension)
vectors=df.shape[0]
print("Number of vectors in the given dataset:",vectors)
rank=np.linalg.matrix_rank(A)
print("Rank of matrix A:",rank)
A_1=np.linalg.pinv(A)
X=A_1@C
# print(A_1)
print(X)

dimention of the given dataset: 4
Number of vectors in the given dataset: 10
Rank of matrix A: 3
[ 1. 55. 18.]

In [37]:
A_1=np.linalg.pinv(A)
X=A_1@C
# print(A_1)
print(X)

[ 1. 55. 18.]

In [44]:
import pandas as pd
def categorize_customer(payment):
    if payment >= 200:
        return "Rich"
    else:
        return "Poor"
payment_column = df.iloc[:, 3] 
df['Category'] = payment_column.apply(categorize_customer)

print(df)

   Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs) Category
0           20             6                 2           386     Rich
1           16             3                 6           289     Rich
2           27             6                 2           393     Rich
3           19             1                 2           110     Poor
4           24             4                 2           280     Rich
5           22             1                 5           167     Poor
6           15             4                 2           271     Rich
7           18             4                 2           274     Rich
8           21             1                 4           148     Poor
9           16             2                 4           198     Poor